<!DOCTYPE html>
<html xmlns:th="http://www.thymekeaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Students</title>
</head>
<body>
<div th:replace="navbar.html"></div>

<div class="content">
    <center>
        <form action="#" method="post"
              th:action="@{/searchStudent{name}(name=${student.name})}" th:object="${student}">
            <p>Name: <input id="name" th:field="*{name}"></p>

            <button type="submit">Znajdź studenta</button>
        </form>
    </center>
</div>

</body>
</html>